<svg xmlns="http://www.w3.org/2000/svg" width="215.7px" height="45.9px" viewBox="0 0 215.7 45.9">
  <defs>
      <style>
          path,
          rect,
          polygon {
              fill: #2d2926;
          }
      </style>
  </defs>
  <title>Skinflint Logo</title>
  <polygon points="215.7 32.6 215.7 32.6 215.7 32.6 215.7 32.6"/>
  <rect x="168.4" y="13.1" width="5.4" height="20.33"/>
  <path d="M611.9,405.1c0-3.6,1.9-5.5,4.6-5.5s3.9,1.2,3.9,5.1v10.7h5.4V403.3c0-6.3-3-8.6-7.4-8.6a8.3,8.3,0,0,0-6.5,3h-.1V395h-5.4v20.3h5.4Z" transform="translate(-427 -381.9)"/>
  <rect x="106.7" y="13.1" width="5.4" height="20.33"/>
  <path d="M638.7,410.8c-1.2,0-1.8-.8-1.8-2.6v-8.7h5.5V395h-5.5v-7.2l-5.4.6V395h-2.4v4.5h2.4V409c0,4.6,2.3,6.8,5.8,6.8a10,10,0,0,0,5.4-1.2h0l-1.4-4.4A6.3,6.3,0,0,1,638.7,410.8Z" transform="translate(-427 -381.9)"/>
  <path d="M598.1,392.2a3.3,3.3,0,1,0-3.4-3.3A3.4,3.4,0,0,0,598.1,392.2Z" transform="translate(-427 -381.9)"/>
  <polygon points="89.6 28.6 92.4 25.4 92.5 25.4 97.3 33.5 103.3 33.5 96.1 21.2 103.2 13.1 96.9 13.1 89.6 21.4 89.6 21.4 89.6 2.8 84.2 2.8 84.2 33.5 89.6 33.5 89.6 28.6"/>
  <path d="M499.2,411.3a7.7,7.7,0,0,1-5.6-2.4l-2.6,3.8a12.2,12.2,0,0,0,8.2,3c5.3,0,7.9-2.7,7.9-6.3s-2.6-5-7-6.6c-2-.7-3.1-1.3-3.1-2.2s1.1-1.5,2-1.5a7.2,7.2,0,0,1,4.8,2.2l2.6-4a11.2,11.2,0,0,0-7.4-2.5c-4.1,0-7.3,2.4-7.3,6.1s2.9,5.5,6.2,6.6,3.7,1.3,3.7,2.2S500.8,411.3,499.2,411.3Z" transform="translate(-427 -381.9)"/>
  <path class="logo-head" d="M427,404.8a22.8,22.8,0,1,0,22.8-23h0A22.9,22.9,0,0,0,427,404.8Zm22.8,19a18.9,18.9,0,0,1-18.8-17h3.3a15.6,15.6,0,0,0,30.9,0h3.3A18.9,18.9,0,0,1,449.8,423.9Zm0-10.6a8.4,8.4,0,0,0,8.1-6.4h3.4a11.6,11.6,0,0,1-23,0h3.4A8.4,8.4,0,0,0,449.8,413.3Zm-4-6.4h7.9a4.4,4.4,0,0,1-7.9,0Zm22.7-4H431a18.9,18.9,0,0,1,37.5,0Z" transform="translate(-427 -381.9)"/>
  <path d="M570.1,415.4h5.4V399.5H580V395h-4.5v-3.1c0-2,.8-2.7,2.1-2.7a7.4,7.4,0,0,1,3,.9l1.1-4.3a9.5,9.5,0,0,0-5.2-1.5c-4,0-6.4,2.5-6.4,7.2V395H568v4.5h2.1Z" transform="translate(-427 -381.9)"/>
  <rect x="157" y="2.8" width="5.4" height="30.67"/>
  <path d="M536.4,392.2a3.3,3.3,0,1,0-3.4-3.3A3.4,3.4,0,0,0,536.4,392.2Z" transform="translate(-427 -381.9)"/>
  <path d="M550.3,405.1c0-3.6,1.9-5.5,4.6-5.5s3.9,1.2,3.9,5.1v10.7h5.4V403.3c0-6.3-3-8.6-7.4-8.6a8.3,8.3,0,0,0-6.5,3h-.1V395h-5.4v20.3h5.4Z" transform="translate(-427 -381.9)"/>
</svg>