<div class="nav-categories">

  <div class="nav-categories__header">
    <h4>Categories</h4>
          
  </div>

  <div class="nav-categories__select">
    <ul>    

      {% if page.title == "Projects Landing Page" or blog.handle contains "project" %}       
        
        <li class="active"><a href="/blogs/all-projects">All</a></li>                  
        <li><a href="/blogs/all-projects/tagged/commercial">Commercial</a></li>                    
        <li><a href="/blogs/all-projects/tagged/residential">Residential</a></li>                  
        <li><a href="/blogs/all-projects/tagged/prop-hire">Prop Hire</a></li>   
        
        {% else %}
        
          <li><a href="/blogs/all-posts">All</a></li>   
                   
          
                       
              <li class="active"><a href="/blogs/all-posts/tagged/architecture">Architecture</a></li>    
          
                       
              <li><a href="/blogs/all-posts/tagged/b-corp">B Corp</a></li>    
          
                       
              <li><a href="/blogs/all-posts/tagged/in-the-press">In the Press</a></li>    
          
                       
              <li><a href="/blogs/all-posts/tagged/interiors">Interiors</a></li>    
          
                       
              <li><a href="/blogs/all-posts/tagged/lighting-advice">Lighting Advice</a></li>    
          
                       
              <li><a href="/blogs/all-posts/tagged/lighting-history">Lighting History</a></li>    
          
                       
              <li><a href="/blogs/all-posts/tagged/lights-organised-neatly">Lights Organised Neatly</a></li>    
          
                       
              <li><a href="/blogs/all-posts/tagged/news">News</a></li>    
     
          
                       
              <li><a href="/blogs/all-posts/tagged/skinflint-meets">skinflint Meets</a></li>    
          
                       
              <li><a href="/blogs/all-posts/tagged/stuff-we-love">Stuff We Love</a></li>    
          
                       
              <li><a href="/blogs/all-posts/tagged/sustainability">Sustainability</a></li>    
          
        
    {% endif %}        
    </ul>
  </div>


</div>

<script>
  document.querySelector('.nav-categories__header').addEventListener('click', () => {

  document.querySelector('.nav-categories__select').classList.toggle('active')
  })
</script>