<div class="scrolling-nav-actions__share" style="position: relative; width: auto; opacity: 1;">
                          
  <p>Share</p>                          
  <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="18px" viewBox="0 0 16 18">
    <defs>
        <style>
            path {
                fill: #2d2926;
            }
        </style>
    </defs>
    <title>Share</title>
    <path d="M417.6,213.6A2.6,2.6,0,1,0,415,211a2.6,2.6,0,0,0,.1.6l-6.2,3.6a2.6,2.6,0,1,0,0,3.8l6.3,3.6a2.5,2.5,0,0,0-.1.6,2.6,2.6,0,1,0,.8-1.9l-6.3-3.6a2.4,2.4,0,0,0,0-1.2l6.2-3.6A2.6,2.6,0,0,0,417.6,213.6Z" transform="translate(-404.5 -208.3)"></path>
  </svg>
  
</div>
</div>