<div class="page-width page-content">
  <header class="section-header">
    <h1 class="section-header__title-page">
      {{ page.title | escape }}
    </h1>
  </header>

  <div class="rte rte--nomargin rte-page">
    {{ page.content }}
  </div>
</div>

{% schema %}
  {
    "name": "t:sections.main-page.name",
    "tag": "section"
  }
{% endschema %}