




{% if product.metafields.custom.manufacture != blank %}
  {% for collection in product.collections %}
    {% if collection.title contains product.metafields.custom.manufacture %}
      {% assign numOfProducts = collection.products | size %}
      {% assign showing = 0 %}
      {% if numOfProducts > 1  %}
        <div class="page-width more-products-from">
          <h2>More from {{ product.metafields.custom.manufacture }}</h2>    
          <div class="new-grid">
            {% for eraProduct in collection.products %}
              {%- unless eraProduct.title == product.title -%}
              {% if showing < 3 %}
              {% assign showing = showing | plus: 1 %}
              {%- render 'product-grid-item', product: eraProduct-%}
              {% endif %}
              {%- endunless -%}
            {% endfor %}
          </div>
        </div>
      {% endif %}

      {% break %}
    {% endif %}
  {% endfor %}
{% endif %}


{% schema %}
{
"name": "More Manufacturer",
"class": "index-section more-products-vendor-section",
"settings": [
  {
    "type": "paragraph",
    "content": "t:sections.more-products-vendor.settings.content"
  }
]
}
{% endschema %}